{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    </script>
{% endblock %}


{% block content %}

<form id="form" method="POST">
{% csrf_token %}

<input type="submit" name="submit"/>

</form>

{% endblock %}

{% block postScripts %}
<script type="text/javascript">

$(document).ready(function(){
    ("#form").submit(function(e){
        e.preventDefault();
	var data = JSON.stringify({
	    "student": "1"
	});

	$.ajax({
	  url: 'http://localhost:8000/api/v1/attendance/',
	  type: 'POST',
	  contentType: 'application/json',
	  data: data,
          dataType: 'json',
          processData: false,
	  beforeSend:function(jqXHR,settings){
	  jqXHR.setRequestHeader('X-CSRFToken',$("input[name=csrfmiddlewaretoken]").val())}
        })
    });

});

</script>


{% endblock %}

