<html>

    <head>
        <title>{% block title %}allot points{% endblock %}</title>

        
        {% block scripts %}
        
        
        {% endblock %}    
    </head>

    <body>
        
        <div id="container">
        {% block container %}
            <div id="header">
            {% block header %}
               <div id="logo">
                {% block logo %}

                {% endblock %}
               </div>   
               <div id="nav-global">
                {% block nav-global %}
                    
                {% endblock %}
               </div>
            {% endblock %}
            </div>
            <div id="content">
             {% block content %}
              
             {% endblock %}
            </div>
            <div id="footer">
                {% block footer %}

                {% endblock %}
            </div>

	    {% block postScripts %}

            {% endblock %}
        {% endblock %}
        </div>
        
    </body>

</html>
