<% extends "base.html "%>

{% block content %}

    <h3>please enter update the points for the students</h3>
    <div id="pointsForm">
        <form action='' method='post'>
	    {% csrf_token %}
            <input type="text" name="student_id"/>
	    <input type="text" name="behaviour_id"/>
             
	    <input type="submit" value="Submit"/>
	</form
    </div>

{% endblock %}

